@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER STYLING */


nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border-bottom: 3px solid #242424;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.1);
}

.logo__container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    width: 80px;
    height: 80px;
}
/* 
#logo-draggable {
    width: 100%;
    height: 100%;
    cursor: grab;
    user-select: none;
    transform: rotate(0deg);
    transition: transform 0.1s ease-out;
} */



.nav__link--list {
    display: flex;
}


.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}


.nav__link {
    margin: 0 12px;
}

/* MAIN PAGE STYLING */

/* mixedbackground testing v */

body {
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    /* background-image: url('https://i.pinimg.com/1200x/67/1a/14/671a1415b89a7e7d8534d79ff517121f.jpg'), url('https://i.pinimg.com/736x/06/08/3a/06083afb30f93cc47f729d11b09fe3a0.jpg'), url('https://i.pinimg.com/736x/e0/98/2b/e0982b1ae2211b69afd2c2307df43e2e.jpg'); */
    background-blend-mode: screen;
    background-size: cover;
    height: 500px;
}

/* SEARCH RESULTS */

.search__container {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin: 0 0 0 auto;
    right: 80px;
}

#search__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

#search__results--item {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
}

.search__results--artwork {
    min-width: 250px;
    border-radius: 8px;
}

.search__results--info {
    font-size: 14px;
    max-width: 100px;
}

.search__results--title {
    line-height: 1.5;
    min-width: 250px;
}